*{
    margin: 0;
    padding: 0;
}
.profile{
    padding-top: 40px;
    max-width: 600px;
    margin: auto;
    font-family: cursive;
}
.profile #_1 .name{
    font-size: 250%;
    color: #555555;
}
.profile #_1 .name P{
    font-size: 60%;
}
.profile #_1{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile .img{
    height: 80px;
    width: 80px;
    background-color: #9c8ca5;
    border-radius: 100px;
}
.profile ._2{
    color: red;
    font-size: 150%;
}