<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/freefire/bouts-details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>XstreamBattle | FreeFire</title>
</head>
<body>
    <div class="bouts-detail">
        <i onclick="history.back()" class="fa-solid fa-arrow-left"></i>
        <div class="bouts-img"></div>
        <div class="details"> details : mode -> <!--$[mode]--></div>
        <div class="details"> details : map -><!--$[map]--></div>
        <div class="details"> details : team -><!--$[team]--></div>
        <div class="details"> details : id -><!--$[id]--></div>
        <div class="details"> details : month -><!--$[month]--></div>
        <div class="details"> details : date -><!--$[date]--></div>
        <div class="details"> details : year -><!--$[year]--></div>
        <div class="details"> details : time -><!--$[hour]-->:<!--$[minutes]--></div>
        <div class="details"> details : _1 -><!--$[_1]--></div>
        <div class="details"> details : _2 -><!--$[_2]--></div>
        <div class="details"> details : _3 -><!--$[_3]--></div>
        <div class="details"> details : entry -><!--$[entry]--></div>

        <a href="payment/?id=<!--$[id]-->"><div class="joinBtn">Join Now - <!--$[entry]--></div></a>
    </div>

</body>
</html>