
<div class="product">
    <div class="head"><span><!--$[mode]--> [<!--$[map]-->]</span><i class="fa-solid fa-share-nodes"></i></div>
    <a id="_1" href="home/product/?id=<!--$[id]-->">
        <div class="about"><!--$[team]--> #<!--$[id]--></div>
        <div class="timeStamp"><!--$[month]--> <!--$[date]-->, <!--$[year]--> | <!--$[hour]-->:<!--$[minutes]--></div>
        <div class="organiser">organised by admin</div>
        <div class="winner">
            <div class="_1"><!--$[_1]--></div>
            <div class="_2"><!--$[_2]--></div>
            <div class="_3"><!--$[_3]--></div>
        </div>
    </a>
    <a href="home/product/payment/?id=<!--$[id]-->">joinNow: <!--$[entry]--></a>
</div>