<div class="home">
    <div class="home-header">
        <div class="home-nav-bar"><i class="nav-fa-solid fa-solid fa-bars"></i></div>
        <div class="home-nav-links">
            <a href="support"><i class="nav-fa-solid fa-solid fa-headset"></i></a>
            <a href="notification"><i class="nav-fa-solid fa-solid fa-bell"></i></a>
            <a href="profile"><i class="nav-fa-solid fa-solid fa-user"></i></a>
        </div>
    </div>
</div>

<div class="event-publisher">
    <div class="event-container"></div>
</div>

<div class="filter-product">
    <div class="filter-container">
        <button>All</button>
        <button>Full Map</button>
        <button>CS</button>
        <button>Squad</button>
    </div>
</div>
<div class="Products">
<div class="product-container">
<!--$[Products]-->
</div>
</div>