<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./../../image/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="freefire/style.css">
    <link rel="stylesheet" href="freeFire/home.css">
    <link rel="stylesheet" href="freeFire/product.css">
    <link rel="stylesheet" href="freefire/contest.css">
    <link rel="stylesheet" href="freefire/profile.css">
    <link rel="stylesheet" href="freefire/payment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>XstreamBattle | FreeFire</title>
</head>
<body>
    <!--$[page]-->

    <div class="indexFooter">
        <div class="in-fo-container">
            <!-- <a href="tournament"><i class="$[toggle-T] fa-solid fa-trophy"></i></a> -->
            <a href="contest"><i class="<!--$[toggle-C]--> fa-solid fa-cart-shopping"></i></a>
            <a href="/"><i class="<!--$[toggle-H]--> fa-solid fa-house"></i></a>
            <!-- <a href="leaderboard"><i class="$[toggle-L] fa-solid fa-square-poll-vertical"></i></a> -->
            <a href="profile"><i class="<!--$[toggle-P]--> fa-solid fa-user"></i></a>
        </div>
    </div>
</body>
</html>