<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/freefire/payment.css">
    <title>XstreamBattle | FreeFire</title>
</head>
<body>
    <div class="payment">
        <form action="" method="post">
            <h1>Id: <!--$[id]--></h1>
            <h1>required amount: <!--$[entry]--></h1>
            <input type="submit" value="Join Now">
        </form>
    </div>
</body>
</html>