
<div class="profile">
    <div id="_1">
        <div class="img"></div>
        <div class="name"><!--$[name]--> <p><!--$[uid]--></p></div>
    </div>
    <div class="_2 depostie">Balance: <!--$[deposite]--> <button>Add Money</button></div>
    <div class="_2 phone">Phone: <!--$[phone]--></div>
    <div class="_2 mail">mail: <!--$[mail]--></div>
</div>